<form action='/sign_in' method='post'>
<div>
<div>	<label for='username'>Username</label> </div>
<div>	<input type='text' name='username'> </div>
</div>

<div>	
<div>	<label for='password'>Password</label> </div>
<div>	<input type='text' name='password'></div>
</div>

<div>
<div>	<label for='email'>Email</label> </div>
<div>	<input type='text' name='email'> </div>
</div>

<div><input type='submit' name='profile_creator' value='Create Profile'></div>
</form>
