html {
  font-size: 20px;
}

img {
  width: 2em;
  height: 2em;
  border: 1px solid black;
}

.sidebar {
  float: left;
  padding-top: .05rem;
  margin-top: .05rem;
  background-color: #f8a579;
  text-align: center;
  /*min-height: 341px;*/
  /*background: url('') no-repeat;*/
}

h1 {
  color: #FF5800;
  font-size: 1rem;
}

.header {
  width: 100%;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.game-window {
  float: left;
}